header {
    background: #BBBBBB;
    padding: 20px 0;
    }
    .caixa {
    position: relative;
    width: 940px; /* largura fixa */
    margin: 0 auto;
    }
    nav {
    position: absolute;
    top: 110px;
    right: 0;
    }
    nav li {
    display: inline;/* deixa os links na mesma linha */
    margin: 0 0 0 15px;/* Aumenta o espaço entre as palavras(links) */
    }
    nav a {
    text-transform: uppercase;/* Transforma o texto em maiúsculo */
    color: #000000;
    font-weight: bold;/* deixa o texto em negritro */
    font-size: 22px;/* Muda o tamanho da fonte */
    text-decoration: none;/* Tira o sublinhado dos links */
    }